version: '3.8'

services:
  db:
    image: postgres:15-alpine # Лучше использовать конкретную версию (alpine легче)
    container_name: finance_db
    restart: always
    environment:
      # Эти переменные должны быть в файле .env в этой же папке
      POSTGRES_USER: ${POSTGRES_USER:-user}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-password}
      POSTGRES_DB: ${POSTGRES_DB:-db}
    ports:
      - "${POSTGRES_PORT:-5432}:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - finance_network

# Обязательно нужно объявить volume, иначе docker-compose выдаст ошибку
volumes:
  postgres_data:

networks:
  finance_network:
    driver: bridge
